@charset "utf-8";

body{
	padding: 0px;
	margin: 0px;
}

li{
	list-style: none;
}

a{
	text-decoration:none;
}



/*--head_pictures--*/
.head_picture{
    width: 100%;
    height: 850px;
    position: relative;
    background-image: url(img/headpic.png);
    top:0px;
}

.head_picture_p{
    position: absolute;
    left: 100px;
    top: 300px;
    
}

.head_picture_p :nth-child(1){
    font-size:32px;
    color:#A3AFBD;
    line-height:0px;
}
.head_picture_p :nth-child(2){
    font-size:24px;
    color:#C9685E;
    line-height:0px;
}
.head_picture_p i{
    font-size:20px;
    background-color: #0000;
    color:#FFFF;
    border: none;
    padding: 5px;
    cursor: pointer;
}

.my_picture_div{
    width: 500px;
    height: 475px;
    background-color: #d38e88;
    position:absolute;
    left: 1320px;
    top: 240px;
    border-radius: 50%;
    box-shadow: #DFF2F7 0px 20px 30px -10px;
}

.my_picture{
    width: 450px;
    height: 425px;
    position:absolute;
    border-radius: 50%;
    background-image: url(img/headmypic.png);
    bottom: 0px;
    left: 16px;
    border:10px solid #9E9F8D;
    box-shadow: #9E9C8F 0px 20px 30px -10px;
}

/*--menu--*/

.manu{
    background-color: #F7F7F7;
    width: 100%;
    height: 60px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content:center;
    bottom: 860px;
    

}

.manu_laft_tx{
    position: absolute;
    left:100px;
}

.manu_laft_tx p{
    font-size:24px;
    color:#a3a0a0;
}

.menu_var{
    position: absolute;
    display:flex;
    right: 100px;
    top: -22px;
}

.menu_var ul{
    display: flex;
    font-size: 24px;
}

.menu_var li{
    margin: 16px;
}

.menu_var a{
    color: #a3a0a0;
}

.menu_var a:hover{
    color: #011627;
}

.dropdown_containar{
    display:inline;  
}

.dropdown_contant{
    text-align:center;
    display:none;
}

.dropdown_containar:hover .dropdown_contant{
    display:block;
}

/*--about---*/
.about_div{
    width: 100%;
    height: 600px;
    background-color:#F7F7F7;
    position: relative;
    top: -75px;
}

.pic_div{
    width: 355px;
    height: 365px;
    border: 15px solid #183256;
    position: absolute;
    left: 100px;
    top: 80px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.pic{
    width: 355px;
    height: 365px;
    position: absolute;
    left: 50px;
    top: 50px;
    background-size: cover;
    background-image: url(img/about_pic.JPG);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}

.about_p_div{
    position: absolute;
    left: 650px;
    top: 80px;
    width: 700px;
}

.about_p_div p:nth-child(1){
    font-size:36px;
    color: #2C4C71;
    font-weight: bold;
    font-family: 'Anton', sans-serif;
    line-height:45px;

}
.about_p_div p:nth-child(2){
    font-size:24px;
    color: #869ea5;
    font-family: 'Dosis', sans-serif;
    line-height:30px;
}

.about_p_div button{
    width: 105px;
    height: 45px;
    border:none;
    background-color: #FFFFFF;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.about_p_div button a{
    color: #2C4C71;
    font-weight: bold;
    font-family: 'Lobster', cursive;
    font-size:15px;
}

.about_p_div button:hover{
    background-color:#3E628C;
}
.about_p_div button a:hover{
    color: #FFFF;
}
.about_p_div button:active{
    transform:scale(1.1)
}

.prog_icon{
    width: 345px;
    height: 390px;
    background-color: #FFFF;
    position:absolute;
    left: 1450px;
    top: 80px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.pong_icon_body1{
    position: absolute;
    display:flex;
    left: 30px;
    top: 50px;
}

.pong_all_icon1,
.pong_all_icon2,
.pong_all_icon3,
.pong_all_icon4,
.pong_all_icon5,
.pong_all_icon6,
.pong_all_icon7,
.pong_all_icon8,
.pong_all_icon9{
    width: 85px;
    height: 80px;
    background-color: #F7F7F7;
    margin: 5px;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.pong_all_icon1{
    background-image: url(img/python-icon.png);
    background-size: cover;
}
.pong_all_icon2{
    background-image: url(img/JS-icon.png);
    background-size: cover;
}
.pong_all_icon3{
    background-image: url(img/c-icon.png);
    background-size: cover;
}

.pong_icon_body2{
    position: absolute;
    display:flex;
    left: 30px;
    top: 150px;
}

.pong_all_icon4{
    background-image: url(img/c++-icon.jpg);
    background-size: cover;
}
.pong_all_icon5{
    background-image: url(img/php-icon.png);
    background-size: cover;
}
.pong_all_icon6{
    background-image: url(img/sql-icon.jpg);
    background-size: cover;
}

.pong_icon_body3{
    position: absolute;
    display:flex;
    left: 30px;
    top: 255px;
}
.pong_all_icon7{
    background-image: url(img/c_sharp-icon.jpg);
    background-size: cover;
}
.pong_all_icon8{
    background-image: url(img/html-icon.jpg);
    background-size: cover;
}
.pong_all_icon9{
    background-image: url(img/css-icon.jpg);
    background-size: cover;
}

/*--fotter--*/
.fotter{
    width: 100%;
    height: 350px;
    background-color: #DFF2F7;
    position: relative;
    align-items: center;
    justify-content: center;
    display:flex;
    top: -75px;
}

.fotter_icon{
    position: absolute;
    bottom: 200px;
}
.fotter_icon i{
    font-size:36px;
    color: #D2B299;
}

.fotter_p{
    position: absolute;
    top: 160px;
}

.fotter_p p:nth-child(1){
    font-size:22px;
    color: #99999C;
}
.fotter_p p:nth-child(2){
    font-size:20px;
    color: #99999C;
    text-indent: 40%;
}

/*--skills--*/
.skills_div{
    width: 100%;
    height: 420px;
    background-color: #F7F7F7;
    position: relative;
    bottom: 60px;
}
.skills_body{
    display:inline-block;
    position: relative;
    left: 60px;
    top: 40px;
    width: 380px;
    height: 145px;
    padding: 10px;
}
.skills_con i{
    font-size:22px;
    color: #D2B299;
}

.skills_con p:nth-child(2){
    font-size:16px;
    font-weight:bold;
    color: #2D4D73;
}
.skills_con p:nth-child(3){
    font-size:14px;
    color: #89898b;
}

.skills_button{
    position:absolute;
    right: 400px;
    bottom: 100px;
}
.skills_button button{
    width: 300px;
    height: 70px;
    border: none;
    margin-left: 16px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.skills_button button a{
    color: #c4ebf6;
    font-size:20px;
    font-weight:bold;
    font-family: 'Lobster', cursive;
}
.skills_button button:hover{
    background-color:#D2B299;
}
.skills_button button:active{
    transform:scale(1.1)
}