@charset "utf-8";

body{
	padding: 0px;
	margin: 0px;
}

li{
	list-style: none;
}

a{
	text-decoration:none;
}



/*--head_pictures--*/
.head_picture{
    width: 100%;
    height: 850px;
    position: relative;
    background-image: url(img/headpic.png);
    top:0px;
}

.head_picture_p{
    position: absolute;
    left: 100px;
    top: 300px;
    
}

.head_picture_p :nth-child(1){
    font-size:32px;
    color:#A3AFBD;
    line-height:0px;
}
.head_picture_p :nth-child(2){
    font-size:24px;
    color:#C9685E;
    line-height:0px;
}
.head_picture_p i{
    font-size:20px;
    background-color: #0000;
    color:#FFFF;
    border: none;
    padding: 5px;
    cursor: pointer;
}

/*--menu--*/

.manu{
    background-color: #F7F7F7;
    width: 100%;
    height: 60px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content:center;
    bottom: 860px;
    

}

.manu_laft_tx{
    position: absolute;
    left:100px;
}

.manu_laft_tx p{
    font-size:24px;
    color:#a3a0a0;
}

.menu_var{
    position: absolute;
    display:flex;
    right: 100px;
    top: -22px;
}

.menu_var ul{
    display: flex;
    font-size: 24px;
}

.menu_var li{
    margin: 16px;
}

.menu_var a{
    color: #a3a0a0;
}

.menu_var a:hover{
    color: #011627;
}

.dropdown_containar{
    display:inline;  
}

.dropdown_contant{
    text-align:center;
    display:none;
}

.dropdown_containar:hover .dropdown_contant{
    display:block;
}